/*  https://github.com/Ryanmufasa/awesomePlace/issues/9 | 작성자 이명진 */
@charset "UTF-8";
	.header{
		position:relative;
		height:140px;
		max-width:1280px;
		min-width:640px;
		width:90%;
		margin:auto;
		display:block;
	}
	#btns{
		position:absolute;
		top:5px; right:1%;
	}
	#managerBtn{
		position:absolute;
		top:40px; right:1%;
	}
	#img1 {
		position:absolute;
		top:5px; left:1%;
	}
	#title{
		position:absolute;
		top:5px;
		left:40%;
		margin-left:-80px;
		font-size:25px;
	}
	#searchBar{
		position:absolute;
		bottom:1%;
		left:50%;
		margin-left:-220px;
	}
	#hr1{
		position:relative;
		width:90%;
		max-width:1280px;
		min-width:640px;
	}
	.mainDiv{
		position:relative;
		width:90%;
		height:800px;
		max-width:1280px;
		min-width:640px;
		margin:auto;
		overflow:hidden;
	}
	.mainDiv-child{
		text-align:center;
		position:absolute;
		top: 0;
		right: -200%;
		bottom: 0;
		left: -200%;
	}
	#imgIdx{
		display:block;
		margin: 0 auto;
		max-width:1280px;;
	}
	.footer{
		position:relative;
		max-width:1280px;
		min-width:640px;
		width:90%;
		margin:auto;
		display:block;
	}
/*		일정화면크기에서 정렬방식을 변경하는코드, 실제 사용하진 않는다. 	
		@media screen and (max-width: 1000px) {
	 	 .mainDiv-child {
	    text-align: left;
	    left: -255px;
	  }
	}
  */
