/*  https://github.com/Ryanmufasa/awesomePlace/issues/9 | 작성자 이명진 */
@charset "UTF-8";
	:root {
		--hrColor:#6EE0FF;
	}
	a {
		text-decoration:none;
		font-weight:bold;
		font-size:15px;
		color:#0000FF;
	}
	a:hover{
		text-decoration:underline;
	}
	a:active{
		color:#6A5ACD;
	}
	button{
		
	}
	header{
		position:relative;
		height:140px;
		max-width:1280px;
		min-width:640px;
		width:90%;
		margin:auto;
		display:block;
	}
	.btns{
		position:absolute;
		top:5px; right:1%;
	}
	.adBtns{
		position:absolute;
		top:40px; right:1%;
	}
	#img1 {
		position:absolute;
		top:5px; left:1%;
	}
	#title{
		position:absolute;
		top:5px;
		left:40%;
		margin-left:-80px;
		font-size:25px;
	}
	#searchBar{
		position:absolute;
		height:30px;
		bottom:1%;
		left:50%;
		margin-left:-220px;
	}
	#optionInput{
		ime-mode:disabled; /* 해당 입력란에 한글 입력 불가하게하는 코드 (크롬에선 작동하지않음) */
	}
	hr{
		position:relative;
		width:90%;
		height:2px;
		border:0px;
		background-color:var(--hrColor);
		max-width:1280px;
		min-width:640px;
	}
/*///////////////////////////////header 부분 끝/////////////////////////////////*/	
	
	.mainDiv{
		position:relative;
		width:90%;
		height:auto;
		background-color:white;
		min-height:400px;
		max-width:1280px;
		min-width:640px;
		margin:auto;
		display:block;
		box-sizing:content-box;
		overflow:visible;
		z-index: 2;
	}
	.imageP{
		position:relative;
		background-color:white;
		height:800px;
		width:100%;
		overflow:hidden;
		z-index:2;
	}
	.imageP>div{
		text-align:center;
		position:absolute;
		top: 0;
		bottom: 0;
		right: -200%;
		left: -200%;
		z-index:1;
	}
	.imageP>div>img{
		width:100%;
	}
	.mainDiv-child{
		text-align:center;
		position:absolute;
		background-color:silver;
		width:calc(100% - 110px);
		min-height:400px;
		max-width:1180px;
		min-width:530px;
		margin-left:110px;
		top: 0;
		bottom:0;
		right:0;
		display:block;
		overflow:visible;
	}
	
	#imgIdx{
		display:block;
		margin: 0 auto;
		max-width:1280px;
	}
	#counter{
		position:absolute;
		margin-bottom:0px;
	}
/*///////////////////////////////body 부분 끝/////////////////////////////////*/		
	
  	.nav{
		position:absolute;
		width:100px;
		min-height:400px;
		top:0px;
		background-color:rgb(222,222,222);
		z-index:1;
	}
	.navLine{
		position:absolute;
		width:2px;
		min-height:400px;
		background-color:var(--hrColor);
		left:104px;
		z-index:1;
	}
    #adminNav,#myPageNav,#hostingPageNav{
   		position:absolute;
   		margin-left:0px;
   		margin-right:0px;
   		top:0px;
   		width:13.5%;
   		min-width:96px;
   		max-width:192px;
   		    	}
  	#adminNav>div,#myPageNav>div,#hostingPageNav>div{
		position:relative;
		text-align:center;
		height:80px;
		width:100px;
		margin-left:0px;
		margin-top:0px;
	}
	.nav>div>div>a {
		text-align:center;
		line-height:80px;
		margin:auto;
	}
	
/*///////////////////////////////navigation 부분 끝/////////////////////////////////*/		
	
	
	footer{
		position:relative;
		max-width:1280px;
		min-width:640px;
		width:90%;
		margin:auto;
		display:block;
	}
	#toTop{
		float:right;
	}
/*///////////////////////////////footer 부분 끝/////////////////////////////////*/		
	
	#list{
		position:absolute;
		top:1%;
		left:1%;
	}
	
	#QnAAnswer{
		width:400px;
		left:calc(50% - 200px);
		margin:auto;
	}
	

	
	
	
/*///////////////////////////////기타 css설정 끝/////////////////////////////////*/		
	
/*		일정화면크기에서 정렬방식을 변경하는코드, 실제 사용하진 않는다. 	
		@media screen and (max-width: 1000px) {
	 	 .mainDiv-child {
	    text-align: left;
	    left: -255px;
	  }
	}
  */
